<div class="container">
  <div class="col-12 pt-5">
    <h3>Prueba Tecnica Homecenter </h3>
  </div>
  <div class="col-12">
    <span>Presentado por: </span>
    <span>Leonardo Herrera Muñoz</span>
  </div>
  <div class="col-12 text-center pt-5 py-5 tlt-chart">
    <span>Grafica de contenedores por estado</span>
  </div>
  <div class="row justify-content-between"> 
    <div class="col-3 mx-3 card-custom">
      <div class="col-12 py-3 text-center subtitle-chart">
        En proceso
      </div>
      <apx-chart
      [series]="chartOptions.series!"
      [chart]="chartOptions.chart!"
      [labels]="chartOptions.labels"
      [responsive]="chartOptions.responsive!"
    ></apx-chart>
    </div>
    <div class="col-3 mx-3 card-custom ">
      <div class="col-12 py-3 text-center subtitle-chart">
        Reconteo
      </div>
      <apx-chart
      [series]="chartOptions2.series!"
      [chart]="chartOptions2.chart!"
      [labels]="chartOptions2.labels"
      [responsive]="chartOptions2.responsive!"
    ></apx-chart>
    </div>
    <div class="col-3 mx-3 card-custom">
      <div class="col-12 py-3 text-center subtitle-chart">
        Por iniciar
      </div>
      <apx-chart
      [series]="chartOptions3.series!"
      [chart]="chartOptions3.chart!"
      [labels]="chartOptions3.labels"
      [responsive]="chartOptions3.responsive!"
    ></apx-chart>
    </div>
  </div>
  <div class="row justify-content-between py-5">
    <div class="col-2 mx-3 card-green text-center py-2">
      <div class="col-12 text-count">{{countInProcess}}</div>
      <div class="col-12 text-state">En Proceso</div>
    </div>
    <div class="col-2 mx-3 card-blue text-center py-2">
      <div class="col-12 text-count">{{countInRecount}}</div>
      <div class="col-12 text-state">Reconteo</div>
    </div>
    <div class="col-2 mx-3 card-red text-center py-2">
      <div class="col-12 text-count">{{countToStart}}</div>
      <div class="col-12 text-state">Por Iniciar</div>
    </div>
    <div class="col-2 mx-3 card-gray text-center py-2">
      <div class="col-12 text-count">{{total}}</div>
      <div class="col-12 text-state">Total</div>
    </div>
  </div>
  <div class="col-12 pt-3 pb-5">
    <table>
      <tr>
        <th>Id contenedor trasvaciado</th>
        <th>Contenedor</th>
        <th>Estado</th>
        <th>Reconteo</th>
      </tr>
      <tr *ngFor="let item of containerList">
        <td>{{item.Id_Contenedor_Trasvaciado}}</td>
        <td>{{item.Contenedor}}</td>
        <td>{{item.Estado}}</td>
        <td>{{item.Reconteo ? 'Sí' : 'No'}}</td>
      </tr>
    </table>
  </div>
</div>
